  <div>
  <div class="bannerBox animated fadeIn">
    <div class="mainBox clearfix">
      <div class="nav">
          <nz-affix>
            <img src="./assets/images/cur7.png" alt="">
            <nz-anchor>
              <nz-link nzHref="#gywm" nzTitle="关于我们"></nz-link>
              <nz-link nzHref="#mqxz" nzTitle="目前现状"></nz-link>
              <nz-link nzHref="#cpzx" nzTitle="产品中心"></nz-link>
              <nz-link nzHref="#ywfw" nzTitle="业务范围"></nz-link>
            </nz-anchor>
            <div class="index" ><a routerLink="/layout/home">松果科技</a></div>
            <div class="bg"></div>
          </nz-affix>
      </div>
    </div>
  </div>
  <div id="gywm" class="aboutBox">
    <div class="mainBox">
      <div class="title"></div>
      <ul class="aboutList clearfix">
        <li class="ab1">
          <div class="tipBox">
            <p>核心业务</p>
            <code>core business</code>
            <span class="line"></span>
          </div>
          <div class="imgBox">
              <div class="gray">
                <p>致力于无人机及其应用管理平台的研发、设计、销售、技术服务，是新华网江苏分公司，南京模幻天空，深圳码隆科技的合作伙伴。</p>
              </div>
          </div>
        </li>
        <li class="ab2">
          <div class="tipBox">
            <p>公司使命</p>
            <code>Company mission</code>
            <span class="line"></span>
          </div>
          <div class="imgBox">
            <div class="gray">
              <p>致力于无人机及其应用管理平台的研发、设计、销售、技术服务，是新华网江苏分公司，南京模幻天空，深圳码隆科技的合作伙伴。</p>
            </div>
          </div>
        </li>
        <li class="ab3">
          <div class="tipBox">
            <p>生产实力</p>
            <code>Production strength</code>
            <span class="line"></span>
          </div>
          <div class="imgBox">
            <div class="gray">
              <p>致力于无人机及其应用管理平台的研发、设计、销售、技术服务，是新华网江苏分公司，南京模幻天空，深圳码隆科技的合作伙伴。</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="mqxz" class="statusBox">
    <div class="mainBox">
      <div class="title t2"></div>
      <p class="titxt">坤睿鹏江苏公司必须严格遵循国家管理无人机的管控要求</p>
      <div class="statusImg">
        <div class="st1"><i></i><p>坤睿鹏江苏公司按照国家相关部门规定很对经营服务中的无人机都按照要求进行了实名登记</p></div>
        <div class="st2"><i></i><p>并且按照公安部门要求针对“低小慢”飞行器进行了实名备案</p></div>
        <div class="st3"><i></i><p>对服务的无人机全部进行了第三方责任险的采购</p></div>
        <div class="st4"><i></i><p>拥有国家甲级测绘资质</p></div>
        <div class="st5"><i></i><p>飞手持有国家相关飞行执照</p></div>
      </div>
    </div>
  </div>
  <div id="cpzx" class="productBox">
    <div class="topBan">
      <div class="title t3"></div>
    </div>
    <div class="mainBox">
      <p>2010年之前，我国工业无人机市场规模小，增长速度也比较缓慢，运用领域也基本只是在灾害救援、地图测绘等领域。但在2010年之后，我国工业无人机的市场规模扩张迅速，在各个行业领域落地，特别是在植保，电力，城管执法，街道控违，安防领域得到广泛应用。</p>
    </div>
    <div class="bgJi"></div>
  </div>
  <div id="ywfw" class="businessBox">
    <div class="mainBox">
      <div class="title t4"></div>
      <p>坤睿鹏无人机主要通过无人机管控平台对无人机进行控制，并且产生相关的业务数据，通过业务数据实现业务服务场景</p>
    </div>
  </div>
  <div class="business">
    <div class="mainBox">
      <div class="busbg">
        <img class="rotation" src="./assets/images/kubg.png" width="417" height="421"/>
        <img class="dsbg" src="./assets/images/dsbg.png" width="335" height="259">
        <div class="bus1">
          <span class="rt tr"><i></i>拆迁办应用</span>
          <p class="tr">针对区域拆迁之前进行原始图的航拍形成拆迁红线基础图，按照客户要求进行定期的区域航拍形成阶段成果图</p>
        </div>
        <div class="bus2">
          <span  class="rl tl"><i></i>派出所应用</span>
          <p>派出所可以通过高清的航拍图，勾选房屋整个轮廓，进行常住人口，流动人口，重点户的标注，也可以标注道路探头的具体位置。</p>
        </div>
        <div class="bus3">
          <span class="rt tr"><i></i>城管控违建督查</span>
          <p class="tr">坤睿鹏无人机通过大数据的比对为基层城管和基层街道提供了一个强大的数据比对结果，大大提高了效率和公正性。</p>
        </div>
        <div class="bus4">
          <span class="lt tl"><i></i>重点区域的全景汇报</span>
          <p>按照市“263”办要求，9月份开始针对2017年“263”重点考核点进行摸排，新华网无人机将采用重点区域，区域航拍和区域全景的方式提供“263”办汇报省、市相关领导使用。</p>
        </div>
        <div class="bus5">
          <span class="lt tl"><i></i>在建工程全景跟踪</span>
          <p>跟踪审计是重点项目阶段性成果必要的组成，新华网无人机通过快速的全景扫描方式，自动生成全景汇报材料。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="gao"></div>
  <footer></footer>
  <nz-back-top></nz-back-top>
  </div>
